.pricing-cut {
    display: inline-block;
    width: 100%;
}

.pricing {
    display: inline-block;
    width: 100%;
    margin-top: -10px;
}

.pricing-cut p {
    float: left;
    font-size: 17px;
}

.pricing-cut h3 {
    float: right;
    text-decoration: line-through;
    font-size: 19px;
}

.pricing p {
    float: left;
    font-size: 17px;
}

.pricing h3 {
    float: right;
    font-size: 19px;
}

.calculation {
    display: inline-block;
    width: 100%;
}

.calculation>.text {
    float: left;
}

.calculation>.amount {
    float: right;
}

.submit-btn {
    background: #64FCD9;
    transition: 0.5s;
}

.submit-btn:hover {
    background: #43a18b;
}